<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="demoekz.Properties.Settings.demoekzConnectionString"
            connectionString="Data Source=DESKTOP-SF6SJHQ\SQLEXPRESS;Initial Catalog=demoekz;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>